/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body{
      font-family: 'Lato';
      font-size:16px;
      font-style: normal;
      line-height: 1.2;
      font-weight: normal;
      color: #102746;

  }
  img{
      max-width: 100%;
      height: auto;
  }
  /* Headers styles */
  .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transition: .2s linear;
      padding: 20px;
      z-index: 999;
  }

  .header_active{
    background: #0E1D28
  }
  .wrapper{
      max-width: 1060px;
      margin: 0 auto;
  }

  .wrapper-full{
    max-width: 1262px;
    margin: 0 auto;
  }
  .section-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position:relative;
    padding-bottom: 10px;
  }
  .section-title::after{
      display: block;
      content: '';
      width: 253px;
      height: 3px;
      background: #006DFE;
      position: absolute;
      bottom: 0;
      left: 0;
  }

  .header__wrapper{
      padding-top: 56px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
  }
  .header__list{
      display: flex;
      flex-wrap: wrap;
  }
  .header__item{
      margin-right: 82px;
  }
  .header__item:last-child{
      margin-right: 0;
  }
  .header__link{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: .50;
  }
    /* Headers styles */

/* *** */

    /* Intro styles */
.intro{
    min-height: 100vh;
    background: url("../img/background.jpg")no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}

.intro__title{
    font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 60px;
max-width: 619px;
color: #FFFFFF;
margin-bottom: 22px;
}
.intro__subtitle{
    color: #fff;
    font-weight: normal;
font-size: 16px;
line-height: 24px;
max-width: 546px;
margin-bottom: 59px;
}
.search-form__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search-form__field{
width: 297px;
    background: transparent url(../img/svg/circle-icon.svg)no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: #fff;

}

.search-form__field::placeholder{
    font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}
.search-form__submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
font-size: 24px;
color: #FFFFFF;
background: #1B7DFF;
border: none;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: transparent;
    box-sizing: border-box;
    outline: 1px solid #fff;;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
/* 
benefits */
.benefits{
    margin-bottom: 131px;
}
.benefits__wrap{
    max-width: 1262px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits__cards{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap:55px;
padding: 0 100px;
}
.benefits__title{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 42px;
padding: 93px 100px 88px 100px;
transform: translateY(-100%);
background-color: #fff;

}
.benefits__card{
   grid-column: span 1;
   margin-bottom: 112px;
}
.benefits__card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__card-thumb{
    display: block;
}
.benefits__card-title{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
margin-bottom: 26px;

color: #000000;
}
.benefits__card-desc{
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-bottom: 39px;
}

.benefits__card-more{
    display: inline-block;
    padding-right: 59px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #006DFE;
text-decoration: none;
background: url(../img/svg/arrow-right.svg)no-repeat 90% center;
transition: .2s all;
}
.benefits__card-more:hover, .benefits__card-more:focus{
    background: url(../img/svg/arrow-right.svg)no-repeat right center;
}

/* places start */
.places{
    margin-bottom: 131px;
    
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.places__view-all{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/arrow-right.svg)no-repeat right center;
    padding-right: 59px;
}

.places__view-all:hover, .places__view-all:focus{
    opacity: .45;
    transition: .2s all;
}

.places__title{
    margin-right: 15px;
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places__card{
    position: relative;
    overflow: hidden;
}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card-title{
font-weight: bold;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;
position: absolute;
bottom: 27px;
left: 29px;
z-index: 3;
}
.places__card-lg{
    grid-column: span 3;
}
.places__card-pic{
    width: 100%;
    transition: .4s all;
}

.places__card:hover .places__card-pic{
    transform: scale(1.2) ;
}

.places__cart-link{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 4;
}

.size-lg{
    height: 354px;
    object-fit: cover;
}

.size-sm{
    height: 283px;
    object-fit: cover;
}

.places__card-sm{
    grid-column: span 2;
}
/* places end */

/* tours start*/
.tours{
    margin-bottom: 139px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:0 108px ;
    align-items: center;
    margin-bottom: 77px;
}
.tours__info{
padding-left: 45px;
}
.tour__title{
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;
color: #102746;
margin-bottom: 85px;
}
.tour__desc{
    min-width: 519px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
margin-bottom: 58px;
}
.tour__more{
padding-right: 59px;
font-size: 16px;
color: #006DFE;
text-decoration: none;
background: url(../img/svg/arrow-right.svg)no-repeat 90% center;
transition: .2s all;
}

.tour__more:hover, .tour__more:focus{
    background: url(../img/svg/arrow-right.svg)no-repeat right center;
}
/* tours  end*/

/* top-places start */
.top{
    margin-bottom: 86px;
}
.top-title{
    margin-bottom: 54px;
}
.top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:57px;
}
.top__card-pic{
    position: relative;
    margin-bottom: 45px;
}
.top__card-title{
    font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #fff;
margin: 0 auto 0 0;
}
.top__card-likes{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #fff;
padding-right: 20px;
background: url(../img/svg/heart.svg) no-repeat right;
margin-right: 14px;
}

.top__card-comment{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding-right: 23px;
    background: url(../img/svg/comment.svg) no-repeat right;
}

.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(21, 24, 36, 0.6);
    padding: 16px 25px;
}

.top__card-desc{
    font-size: 16px;
line-height: 24px;
color: #102746;
margin-bottom: 31px;
}

.top__card-more{
    padding: 12px 19px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;    
color: #FFFFFF;
background: #1B7DFF;
border: none;
width: 118px;
margin: auto 0 0 0;
}

.top__card-more:hover, 
.top__card-more:active,
.top__card-more:focus{
    background: transparent;
    box-sizing: border-box;
    color: #000;
    outline: 1px solid #000;;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.top__card{
    display: flex;
    flex-direction: column;

}
/* top-places end */

/* videos start*/
.videos{
    width: 100%;
}

.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}
.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* videos end*/

/* footer start*/
.footer{
    background: #0E1D28;
    padding: 119px 0;
}

.footer__item{
    display: flex;
    flex-wrap: wrap;
}
.footer__logo{
    width: 50%;
}
.footer__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.footer__menu-title{
    font-weight: 500;
font-size: 18px;
line-height: 24px;
color:#fff;
}
.footer__menu-link{
    font-weight: normal;
font-size: 16px;
line-height: 24px;
text-decoration: none;
color:#fff;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active{
    opacity: .50;
}
/* footer end*/
