/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
    box-sizing: inherit;
  }
  body{
      font-family: 'Lato';
      font-size:16px;
      font-style: normal;
      line-height: 1.2;
      font-weight: normal;
      color: #102746;

  }
  /* Headers styles */
  .header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
  }
  .wrapper{
      max-width: 1060px;
      margin: 0 auto;
  }
  .header__wrapper{
      padding-top: 56px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
  }
  .header__list{
      display: flex;
      flex-wrap: wrap;
  }
  .header__item{
      margin-right: 82px;
  }
  .header__item:last-child{
      margin-right: 0;
  }
  .header__link{
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .header__link:hover, .header__link:focus, .header__link:active{
    opacity: .50;
  }
    /* Headers styles */

/* *** */

    /* Intro styles */
.intro{
    min-height: 100vh;
    background: url("../img/background.jpg")no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title{
    font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 60px;
max-width: 619px;
color: #FFFFFF;
margin-bottom: 22px;
}
.intro__subtitle{
    color: #fff;
    font-weight: normal;
font-size: 16px;
line-height: 24px;
max-width: 546px;
margin-bottom: 59px;
}
.search-form__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.search-form__field{
width: 297px;
    background: transparent url(../img/svg/circle-icon.svg)no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    color: #fff;

}

.search-form__field::placeholder{
    font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}
.search-form__submit{
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
font-size: 24px;
color: #FFFFFF;
background: #1B7DFF;
border: none;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background: transparent;
    box-sizing: border-box;
    outline: 1px solid #fff;;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}